    .btn1{
        margin: 20px;
        text-align: center;
        justify-content: space-between;
        display: flex;
        
    
        
    }

        .Joinedimg img {
         width: 100%;
        background-size: contain;

        }

       .Visitedimg img{
       width: 100%;
       background-size: contain;
    
 }

       .Inprogressimg img {
        width: 100%;
       background-size: contain;

       }